<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layout">
<head>
	<title>APIs</title>
</head>
<body>
<div class="container" layout:fragment="content">
	<h1>APIs</h1>
	<h2>REST</h2>
	<p>Read-only JSON API with full documentation</p>
	<ul class="list-group">
		<li class="list-group-item"><a href="https://mensa-api.canceledsystems.com/swagger-ui.html">Swagger UI</a></li>
		<li class="list-group-item"><a href="https://mensa-api.canceledsystems.com/v2/api-docs">Swagger JSON</a></li>
	</ul>
	<h2>GraphQL</h2>
	<ul class="list-group">
		<li class="list-group-item"><a href="https://mensa-api.canceledsystems.com//graphiql">GraphiQL</a></li>
		<li class="list-group-item"><a th:href="@{https://mensa-api.canceledsystems.com/graphql(query='{mensa(id: \'430\') {id name}}')}">Example Query</a></li>
		<li class="list-group-item"><a href="https://mensa-api.canceledsystems.com/schema.graphqls">Schema</a></li>
	</ul>
	<h2>Telegram-Bot</h2>
	<ul class="list-group">
		<li class="list-group-item"><a href="https://t.me/mensahhbot">@mensahhbot</a></li>
	</ul>
</div>
</body>
</html>