<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layout">
<head>
	<title>About</title>
</head>
<body>
<div class="container" layout:fragment="content">
	<h1>About</h1>
	<p>This is an unofficial page that provides better access to the data regarding the mensas in Hamburg. Data includes the dishes served, allergen table, food labels and the mensas themselves. All data is retrieved by scraping websites. Goal of this site is to enable the user to use the data for their own projects.</p>
	<p>The source code of this project is available on <a href="https://github.com/xabgesagtx/mensa-api">github</a>.</p>
	<p><strong>Please be careful with the amount of requests. Otherwise we have to introduce rate limits.</strong></p>
</div>
</body>
</html>