<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout">
<head>
	<title th:text="${mensa.name}">Mensa</title>
</head>
<body>
<div class="container" layout:fragment="content">
	<h1 th:text="${mensa.name}">Mensa</h1>
	<h2 th:text="${date}"></h2>
	<p><a th:href="${mensa.mainUrl}">Visit official page</a></p>
	<p th:if="${dishesMap.empty}"><strong>Sorry, no dishes found for this day</strong></p>
	<div th:each="category : ${categories}">
		<h3 th:text="${category}">Kategorie</h3>
		<div th:include="fragments::dish(false)" th:with="dish=${dish}" th:each="dish : ${dishesMap.get(category)}">

		</div>
	</div>
	<div>
		<span class="pull-right"><a th:href="@{'/mensa/' + ${mensa.id} + '/' + ${#temporals.format(next, 'yyyy-MM-dd')}}" class="btn btn-default">Next &gt;</a></span>
		<span><a th:href="@{'/mensa/' + ${mensa.id} + '/' + ${#temporals.format(previous, 'yyyy-MM-dd')}}" class="btn btn-default">&lt; Previous</a></span>
	</div>
</div>
</body>
</html>