body.regular {
	padding-top: 70px;
	padding-bottom: 30px;
}

p.text-right {
    text-align: right;
}

.custom-toggle.collapsed:before
{
    content:'+' ;
    display: inline-block;
    width:12px;
}
.custom-toggle:before
{
    content:'-' ;
    display: inline-block;
    width:12px;
}

body.graphiql {
    height: 100%;
    margin: 0;
    width: 100%;
    overflow: hidden;
}

#graphiql-container {
    height: 100vh;
}

.sorted-desc::after{
    content:"\25BC";
}

.sorted-asc::after{
    content: "\25B2";
}

#mensa-map {
    height: 380px;
    margin-bottom: 10px;
}

.nearest-mensa {
    background-color: white;
    cursor: pointer !important;
    padding-left: 5px;
    padding-right: 5px;
}

.nearest-mensa:hover {
    background-color: #f4f4f4;
}